body{
    background-image : url("background.jpg");
    background-repeat: none;
    background-attachment: fixed;
    background-size : 100%;
}

#myCanvas{
    background-color: white;
    border-style: solid;
    border-width: medium;
    border-color: green;
    position: center;
}

#bar{
    background-color:lightblue ;
    margin-right: 380px;
}